* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: block;
    background-color: rgb(36, 36, 36);
}


.container {
    position: absolute; 
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.page-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    transition: 0.4s ease-out;
    opacity: 1;
    z-index: 10;
}

.move-1 {
    opacity: 0;
}


.page-1 .cat-button {
    position: relative;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin: 5px 0;
}

.page-1 .cat-button img {
    width: 27%;
}

.page-1 .cat-button div {
    width: 65%;
    display: flex;
    justify-content: center;
}

.page-1 .cat-button div p {
    width: 100%;
    text-align: justify;
    font-size: 1.1rem;
}


.page-2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    transition: 0.5s ease-out;
    opacity: 0;
    z-index: 5;
}


.page-2 .course-button {
    position: relative;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin: 25px 0;
    border: 1px solid white;
    border-radius: 20px;
    padding: 30px;
}


.page-2 .course-button img {
    width: 20%;
}


.page-2 .course-button .description {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.page-2 .course-button div .title {
    text-align: justify;
    text-decoration: underline;
}


.page-2 .course-button .description .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 10px;
}


.page-2 .course-button .description .details .ccdet,
.page-2 .course-button .description .details .cfdet {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}


.page-2 .info {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.page-2 .info a {
    color: white;
}

.page-2 .info img {
    width: 20px;
}


.page-3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    transition: 0.4s ease-out;
    opacity: 1;
    z-index: 1;
    background-color: #333;
    border: 5px solid white;
    color: white;
}


.page-3 .q_fio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 10px 20px;
}