* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: block;
}


.container {
    position: absolute; 
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 2.5s ease;
}


.page-1 {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    transition: all 2.5s ease;
}

.move-1 {
    left: -100%;
}


.page-1 .cat-button {
    position: relative;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin: 5px 0;
}

.page-1 .cat-button img {
    width: 27%;
}

.page-1 .cat-button div {
    width: 65%;
    display: flex;
    justify-content: center;
    
}

.page-1 .cat-button div p {
    text-align: justify;
    font-size: 1.1rem;
}