* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: block;
}


.container {
    position: absolute; 
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.page-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    transition: 0.4s ease-out;
    opacity: 1;
    z-index: 10;
    background-color: rebeccapurple;
}

.move-1 {
    opacity: 0;
}


.page-1 .cat-button {
    position: relative;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin: 5px 0;
}

.page-1 .cat-button img {
    width: 27%;
}

.page-1 .cat-button div {
    width: 65%;
    display: flex;
    justify-content: center;
}

.page-1 .cat-button div p {
    text-align: justify;
    font-size: 1.1rem;
}


.page-2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    transition: 0.4s ease-out;
    opacity: 1;
    z-index: 5;
    background-color: darkgreen;
}


.page-2 .course-button {
    position: relative;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin: 5px 0;
}


.page-2 .course-button img {
    width: 27%;
}


.page-2 .course-button .description {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.page-2 .course-button div h3 {
    text-align: center;
}


.page-2 .course-button .description .details {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
}


.page-2 .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-2 .info img {
    width: 40px;
}